<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TO-DO-LIST</title>

    <!---bootstrap-->
    <link rel="stylesheet" href="./css/bootstrap/bootstrap.css">
    <script src="./js/bootstrap_js/bootstrap.js"></script>
    <!--styles-->
    <link rel="stylesheet" href="./css/styles.css">

</head>
<body onload=updateTime()>
    
<div class="todolist-container">
    <div class="clock">
        <p id="time"></p>
    </div>

    <form action="/delete" method="post">

        <%for(var i=0;i<todo.length;i++){%>

            <div class="todo">
                <p><%=todo[i]%></p>
                <input type="checkbox" name="checkbox" id="<%=i%>">
            </div>
    
        <%}%>

    </form>
    <form action="/update" method="POST">
        <div class="input">
            <input type="text" placeholder="todo name" name="todo">
            <button type="submit">ADD</button>
        </div>
    </form>
    
</div>
</body>

<!-- self script code is written at last only -->
<script src="./js/time.js"></script>

</html>