.todolist-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}
.todo {
  display: flex;
  padding: 1rem;
  align-items: center;
  p {
    margin: 0;
    margin-right: 0.3rem;
  }
  .input {
    display: flex;
  }
}
